@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #313131;
    overflow-x: hidden;
}

nav {
    display: flex;
    position: fixed;
    height: 24vh;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    z-index: 1;
    width: 100%;
}

.nav-logo {
    flex: 0 1 20vw;
    text-align: center;
}

.nav-logo img {
    width: 58%;
}

.nav-links {
    display: flex;
    flex: 0 0 34vw;
}

.nav-links-1 {
    justify-content: flex-end;
}


.nav-links li {
    list-style: none;
    margin: 0 5rem;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav-links li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #EC1F26;
    display: block;
    margin: auto;
    transition: 0.4s;
}

.nav-links li:hover::after {
    width: 100%;
}

.content {
    position: relative;
    background: #313131;
    padding-top: calc(24vh + 0.1em);
}


.content h1 {
    padding-top: 0.6em;
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 0.4em;
}


.content .tagline {
    text-align: center;
    padding-top: 0.2em;
    font-size: 2.4em;
    font-weight: bold;
    color: #FFF;
}

.content .image {
    padding: 2em;
    flex: 0 1 20vw;
    text-align: center;
}

.content .image img{
    filter: invert(1);
    max-width: 32vw;
    height: auto;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

.hamburger {
    display: none;
}



@media screen and (max-width: 768px) {
    .content {
        padding-top: 8em;
    }

    .content .image img{
        padding-top: 1em;
        filter: invert(1);
        max-width: 62vw;
        height: auto;
    }

    .line {
        width: 32px;
        height: 4px;
        background: white;
        margin: 8px;
    }

    nav {
        max-height: 10vh;
        position: fixed;
    }
    /*
    nav {
        max-height: 10vh;
        position: fixed;
    }

    .hamburger {
        display: block;
        z-index: 5;
        position: fixed;
        cursor: pointer;
        right: 15%;
        top: 1%;
        transform: translate(-5%, 50%);
    }

    .nav-links {
        position: fixed;
        right: 0px;
        height: 100vh;
        width: 40%;
        padding: 8em 1em;
        background: rgba(0, 0, 0, 0.8);
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-logo img {
        width: 30%;
    }
    */

    .content .text {
        color: #FFF;
        background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3));
        background: rgba(0, 0, 0, 0.35);
        position: absolute;
        top: 30%;
        margin-right: 5em;
        margin-left: 3em;
        margin-bottom: 2em;
        border-radius: 1em;
    }

    .content .ai {
        padding: 0.6em 1.5em;
    }

    .content .fc {
        padding: 0.6em 1.5em;
    }

    .content .ip {
        padding: 0.6em 1.5em;
    }

    .content .da {
        padding: 0.6em 1.5em;
    }

}

@media screen and (max-width: 460px) {
    body {
        overflow-x: hidden;
    }

    .line {
        width: 32px;
        height: 4px;
        background: gray;
        margin: 8px;
    }

    nav {
        max-height: 10vh;
        position: fixed;
    }

    .hamburger {
        display: block;
        z-index: 1;
        position: fixed;
        cursor: pointer;
        right: 15%;
        top: 1%;
        transform: translate(-5%, 50%);
    }

    .nav-links {
        position: fixed;
        right: 0px;
        height: 100vh;
        width: 40%;
        padding: 8em 1em;
        background: rgba(230, 230, 230, 0.8);
        justify-content: center;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links-2 {
        justify-content: flex-end;
    }


    .nav-logo img {
        position: absolute;
        padding: 0;
        width: 25%;
    }

    .content h1 {
        padding-top: 0.6em;
        font-size: 1.8em;
        text-align: center;
        padding-bottom: 0.4em;
    }

    .content .image img{
        padding-top: 1em;
        filter: invert(1);
        max-width: 84vw;
        height: auto;
    }
}

@keyframes navLinksFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
