@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: rgba(0, 0, 0, 0.8);
    padding: 2px 16px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.nav-logo img {
    width: 30%;
}

.nav-links {
    flex: 1;
}

.nav-links ul {
    margin-left: 28em;
    display: inline;
    text-align: center;
}

.nav-links ul li {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 2.5em 5em;
}

.nav-links ul a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #EC1F26;
    display: block;
    margin: auto;
    transition: 0.4s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.page {
    height: 100vh;
    scroll-snap-align: center;
}

.content {
    margin-top: 3em;
    padding: 12em 0;
    padding-left: 600px;
    margin-left: 200px;
}


.content h1 {
    font-size: 60px;
    padding-left: 2.5em;
    padding-bottom: 0.4em;
}

.content .ai {
    width: 100%;
    height: auto;
    font-size: 1.2em;
    display: inline-block;
    padding: 0.6em 8em;
}

.content .ai img {
    width: 12%;
    float: right;
}

.content .fc {
    width: 100%;
    height: auto;
    font-size: 1.2em;
    display: inline-block;
    padding: 0.6em 8em;
}

.content .fc img {
    width: 12%;
    float: right;
}

.content .da {
    width: 100%;
    height: auto;
    font-size: 1.2em;
    display: inline-block;
    padding: 0.6em 8em;
}

.content .da img {
    width: 12%;
    float: right;
}

.content .ip {
    width: 100%;
    height: auto;
    font-size: 1.2em;
    display: inline-block;
    padding: 0.6em 8em;
}

.content .ip img {
    width: 12%;
    float: right;
}


.about-us-content {
    margin-top: 10em;
    padding: 8em 2em;
}

.about-us-content h2 {
    font-size: 2em;
    text-align: left;
}

.about-us-content p {
    padding: 0.8em 1em;
}

.our-usp {
    padding: 0.8em 0em;
}

.our-usp ul {
    padding-left: 0.8em;
}

.our-usp ul li {
    list-style: disc inside;
}

.our-clientele {
    float: left;
}

.our-clientele h2 {
    padding-bottom: 0.5em;
}
.our-clientele img {
    width: 650px;
}


.about-us-content .partners {
    display: inline;
    text-align: center;
    font-size: 2em;
    padding: 2em 0;
}

.about-us-content .partners .column {
    float: left;
    width: 50%;
}

.about-us-content .partners .camfy {
    padding: 1em 0;
}

.about-us-content .partners .eyeseal {
    margin-left: 2.8em;
}

.products-content {
    margin-top: 10em;
    padding: 8em 2em;
}

.products-content h2 {
    font-size: 2em;
    text-align: left;
}

.products-content .product-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-container .product {
    display: inline-block;
    width: 500px;
    height: 600px;
    padding: 4em 2em;
    position: relative;
    background: rgba(1, 1, 1, 0.1);
    border: 2px solid;
}

.eye-seal img{
    position: absolute;
    padding-top: 6em;
    padding-right: 1em;
    width: 100%;
}

.face-ai img {
    position: absolute;
    padding-top: 8.8em;
    width: 90%;
}

.i-inventory img {
    position: absolute;
    padding: 7.5em 1em;
    width: 90%;
}

.i-trailer img {
    position: absolute;
    padding: 7.5em 1em;
    width: 90%;
}

.i-cits img {
    position: absolute;
    padding: 5em 0.6em;
    width: 90%;
}

.smart-store img {
    position: absolute;
    padding: 4.5em 0.6em;
    width: 85%;
}

.product .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #000;
    color: #FFF;
    overflow: hidden;
    white-space: normal;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.product:hover .overlay {
    bottom: 0;
    height: 100%;
    padding: 0.8em 0.8em;
}


.product .title {
    font-weight: bold;
    font-size: 20px;
}

.product .desc {
    padding: 0.8em 0.4em;
}

.product .advantage {
    padding: 0.8em 0.4em;
}

.product .advantage ul li{
    margin-left: 0.8em;
    list-style: disc;
}

.product .more-details {
    text-align: center;
    font-weight: bold;
    color: #2475BB;
}

.product .more-details a {
    text-decoration: none;
    color: #2475BB;
}


.contact-content {
    margin-top: 10em;
    padding: 8em 2em;
}

.contact-content h2 {
    font-size: 2em;
    text-align: left;
}

.contact-content .address {
    padding: 2em 1em;
}

.contact-content .phone-email {
    padding: 2em 1em;
}

.contact-content .sm-icons {
    padding-top: 6em;
    text-align: left;
}

.contact-content .sm-icons ul {
    display: inline;
}

.contact-content .sm-icons ul li {
    display: inline-block;
    list-style: none;
}

.contact-content .mapouter {
    display: inline-block;
}

.contact-content .sm-icons ul li img {
    float: left;
    padding: 1em 2em;
    width: 100px;
}



/*@media screen and (min-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-bar {
        display: flex;
        padding: 2px 8px;
        position: fixed;
        z-index: 1;
        width: 50%;
        background: rgba(0, 0, 0, 0.8);
    }

    .nav-logo img {
        width: 20%;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
    }
}

@media (min-width: 930px) {

}
*/
