@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
}

nav {
    display: flex;
    position: fixed;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    z-index: 1;
    width: 100%;
}

.nav-logo {
    flex: 0 1 20vw;
    text-align: center;
}

.nav-logo img {
    width: 58%;
}

.nav-links {
    display: flex;
    flex: 0 0 34vw;
}

.nav-links-1 {
    justify-content: flex-end;
}


.nav-links li {
    list-style: none;
    margin: 0 5rem;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav-links li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #EC1F26;
    display: block;
    margin: auto;
    transition: 0.4s;
}

.nav-links li:hover::after {
    width: 100%;
}

.page {
}

.content {
    position: relative;
    background: #313131;
    padding-top: 10em;
}


.content h1 {
    padding-top: 0.6em;
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 0.4em;
}


.content .tagline {
    text-align: center;
    padding-top: 0.2em;
    font-size: 2.4em;
    font-weight: bold;
    color: #FFF;
}

.content .image {
    padding: 1em;
    flex: 0 1 20vw;
    text-align: center;
}

.content .image img{
    filter: invert(1);
    width: 38%;
}
/*
 *
.content .ai {
    width: 100%;
    height: auto;
    font-size: 1.2em;
    display: inline-block;
    padding: 0.6em 8em;
}
.content .ai img {
    width: 12%;
    float: right;
}

.content .fc {
    width: 100%;
    height: auto;
    font-size: 1.2em;
    display: inline-block;
    padding: 0.6em 8em;
}

.content .fc img {
    width: 12%;
    float: right;
}

.content .da {
    width: 100%;
    height: auto;
    font-size: 1.2em;
    display: inline-block;
    padding: 0.6em 8em;
}

.content .da img {
    width: 12%;
    float: right;
}

.content .ip {
    width: 100%;
    height: auto;
    font-size: 1.2em;
    display: inline-block;
    padding: 0.6em 8em;
}

.content .ip img {
    width: 12%;
    float: right;
}

*/

.about-us-content {
    padding: 16em 10em;
}

.about-us-content .tagline {
    text-align: center;
    margin-top: -4em;
    padding-bottom: 1em;
    font-size: 1.4em;
    font-weight: bold;
    color: #848484;
}

.about-us-content .wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-row-gap: 1em;
}

.about-us-content h2 {
    font-size: 1.5em;
    text-align: left;
}

.about-us-content p {
    padding: 0.4em 1em;
    padding-right: 6em;
    font-size: 0.9em;
}

.our-usp {
    padding: 0.8em 0em;
}

.our-usp ul {
    padding-left: 0.9em;
    font-size: 0.9em;
}

.our-usp ul li {
    list-style: disc inside;
    line-height: 3em;
}

.our-clientele {
    padding: 1em;
    text-align: center;
}

.our-clientele h2 {
    text-align: center;
}

.our-clientele img {
    padding: 1em;
    width: 50em;
}


.about-us-content .partners {
    display: inline;
    text-align: center;
    font-size: 1.5em;
    padding: 1em 0;
}

.about-us-content .partners-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 8em;
}

.about-us-content .partners .column {
}

.about-us-content .partners .camfy {
}

.about-us-content .partners .eyeseal {
}

.our-team-content {
    padding: 14em 8em;
}

.our-team-content .tagline {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    color: #848484;
}

.our-team-content h2 {
    font-size: 2em;
    text-align: left;
}

.our-team-content section {
    background-color: #FFF;
}

.our-team-content .profile-heads {
    padding-top: 4em;
}

.card-wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-row-gap: 1.8em;
    grid-column-gap: 2em;
}

.card {
    width: 80%;
    padding: 2em;
    background-color: #EBEEF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.2);
}

.card .profile-img {
    width: 12rem;
    height: 12rem;
    border-radius: 80%;
    margin-top: 0rem;
    border: 1px solid #EBEEF8;
}

.card h3 {
    text-align: center;
    font-size: 2.0rem;
    padding: 0.4em;
    color: #333;
    margin: 0.3rem 0;
}

.job-title {
    color: #575757;
    font-size: 1.2rem;
}

.card .bio {
    margin-top: 2.5em;
    padding: 1em 2em;
    color: #FFF;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #C0392B;
    border-radius: 2em;
    cursor: pointer;
}

.sudhendra h3 {
    font-size: 1.5rem;
}

.sudhendra .profile-img {
}

.arul .profile-img {
}

.arul h3 {
    font-size: 1.5rem;
}

.arul .job-title {
    margin-top: 1em;
}

.arul .bio {
}

.vedpal h3 {
    font-size: 1.8rem;
}

.vedpal .job-title {
}

.namrata .profile-img {
}

.namrata h3 {
}

.namrata .job-title {
}

.uma .profile-img {
}

.uma h3 {
}


.uma .job-title {
}

.dipankar .profile-img {
}

.dipankar h3 {
    font-size: 1.8em;
}

.ganesh .profile-img {
}

.ganesh h3 {
    font-size: 1.8em;
}


.card .about {
    padding: 0.3rem 2.0rem;
    background-color: #445AE3;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #EEE;
    font-size: 1.2rem;
}


.our-team-content .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    padding: 1em 1em;
    background-color: white;
    width: 85%;
    max-height: 85%;
    overflow-y: auto;
}

.our-team-content .modal ol {
    margin-left: 1.8em;
}

.our-team-content .modal ul {
    margin-left: 1.8em;
}

.our-team-content .modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.our-team-content .modal-header {
    padding: 1em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.our-team-content .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.our-team-content .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.our-team-content .modal-body {
    padding: 1em 1.5em;
    font-size: 0.9rem;
    color: #313131;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

.products-content {
    padding: 12em 8em;
}

.products-content .tagline {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    color: #848484;
}

.products-content .title-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.products-content .title-line .title {
    font-size: 1.5em;
}

.products-content .download {
    font-size: 0.8em;
}

.products-content .download a{
    text-decoration: none;
    color: #205497;
}

.product-list {
    padding-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4em;
    grid-row-gap: 4em;
}

.product-list .prod-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: #313131;
    background-color: #E1E1E1;
    border-radius: 10px;
    padding: 2em;
    box-shadow: 0px 10px 5px #B2BEC3;
    text-align: center;
}

.prod-card .title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.6em;
}

.prod-card img {
}

.product-list button {
    font-size: 1.0em;
    font-weight: bold;
    border: none;
    display: inline-block;
    color: #FFF;
    margin-top: 0.8em;
    padding: 0.1em 0.5em;
    padding-top: 0.4em;
    border-radius: 5px;
    background-color: #3498DB;
    cursor: pointer;
}

.product-list button:hover {
    box-shadow: 0px 6px 6px #313131;
}

.eye-seal img {
    width: 100%;
    padding: 2.5em;
}

.face-ai img {
    width: 100%;
}

.sanitiser .title {
    font-size: 1.2em;
}

.sanitiser img {
    width: 75%;
    padding: 0.5em;
}

.i-inventory img {
    width: 90%;
}

.i-trailer img {
    width: 100%;
    padding: 2.5em;
}

.i-cits img {
    width: 78%;
    padding: 1.0em;
}

.smart-store img {
    width: 100%;
    padding: 1.0em;
}

.products-content .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    padding: 1em 1em;
    background-color: #FFF;
    width: 80%;
}

.products-content .modal .desc {
    text-align: left;
    padding-bottom: 1em;
}

.products-content .modal .advantage {
    text-align: left;
    margin-left: 2em;
}

.modal .download-button {
    background-color: #000;
    border-radius: 2em;
    padding: 0.6em 0.8em;
    color: #FFF;
    position: absolute;
    font-size: 0.9em;
    right: 3%;
    top: 4%;
    cursor: pointer;
}

.modal .download-button a{
    text-decoration: none;
    color: #FFF;
}

.products-content .modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.hamburger {
    display: none;
}


/*
.product .title {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}


.product .advantage ul li{
    margin-left: 0.8em;
    list-style: disc;
}

.face-ai .title,.desc,.advantage {
    padding-top: 4.2em;
}

.i-inventory .title,.desc,.advantage {
    padding-top: 3.6em;
}

.i-trailer .title,.desc,.advantage {
    padding-top: 5.4em;
}

.i-cits .title,.desc,.advantage {
    padding-top: 4.4em;
}

.smart-store .title,.desc,.advantage {
    padding-top: 4.4em;
}

.product .more-details {
    text-align: center;
    font-weight: bold;
    color: #2475BB;
}

.product .more-details a {
    text-decoration: none;
    color: #2475BB;
}
*/

.contact-content {
    padding: 10em 10em;
}

.contact-content .tagline {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    color: #848484;
}

.contact-content h2 {
    font-size: 2em;
    text-align: center;
}

.contact-content .address {
    font-size: 1.2em;
    padding: 1em 1em;
    width: 50%;
    margin: 0 auto;
}

.contact-content .phone-email {
    font-size: 1.2em;
    padding: 0 1em;
    width: 50%;
    margin: 0 auto;
}

.phone-email .ids {
    text-align: center;
}

.contact-content .sm-icons {
    padding-top: 8em;
    text-align: center;
}

.contact-content .sm-icons ul {
    display: inline;
}

.contact-content .sm-icons ul li {
    display: inline-block;
    list-style: none;
}

.contact-content .mapouter {
    display: inline-block;
}

.contact-content .sm-icons ul li img {
    float: left;
    padding: 1em 2em;
    width: 100px;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .line {
        width: 32px;
        height: 4px;
        background: white;
        margin: 8px;
    }

    nav {
        max-height: 10vh;
        position: fixed;
    }

    .hamburger {
        z-index: 5;
        position: fixed;
        cursor: pointer;
        right: 15%;
        top: 1%;
        transform: translate(-5%, 50%);
    }

    .nav-links {
        position: fixed;
        right: 0px;
        height: 100vh;
        width: 40%;
        padding: 8em 1em;
        background: rgba(0, 0, 0, 0.8);
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .nav-links li {
        opacity: 0;
    }


    .nav-logo img {
        padding: 0;
        margin-left: 2em;
        width: 30%;
    }

    .content .text {
        color: #FFF;
        /*background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3));*/
        background: rgba(0, 0, 0, 0.35);
        position: absolute;
        top: 30%;
        margin-right: 5em;
        margin-left: 3em;
        margin-bottom: 2em;
        border-radius: 1em;
    }

    .content .ai {
        padding: 0.6em 1.5em;
    }

    .content .fc {
        padding: 0.6em 1.5em;
    }

    .content .ip {
        padding: 0.6em 1.5em;
    }

    .content .da {
        padding: 0.6em 1.5em;
    }

    .our-clientele img {
        padding-left: 2em;
        width: 40em;
    }

    .about-us-content {
        padding: 8em 2em;
    }

    .about-us-content .partners {
        display: inline;
        text-align: center;
        font-size: 2em;
        padding: 2em 0;
    }

    .about-us-content .partners .column {
        float: left;
        width: 50%;
    }

    .about-us-content .partners .camfy {
        padding: 0.8em;
    }

    .about-us-content .partners .camfy img {
        padding: 0;
        width: 70%;
    }

    .about-us-content .partners .eyeseal {
        padding: 0.8em;
        margin-left: 0;
    }

    .about-us-content .partners .eyeseal img {
        margin-left: 0;
        width: 100%;
    }

    .our-team-content {
        padding: 7.0em 2em;
    }

    .our-team-content section {
        padding: 1rem;
        background-color: #FFF;
    }

    .our-team-content .profile-heads {
        padding: 2rem 0;
        background-color: #FFF;
    }

    .card-wrapper {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    .card {
        width: 26rem;
        height: 10rem;
        background-color: #EBEEF8;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 4rem 0;
        box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.2);
    }

    .card .profile-img {
        width: 5rem;
        height: 5rem;
        border-radius: 20%;
        margin-top: -6rem;
        z-index: 3;
        border: 1px solid #EBEEF8;
    }

    .card h3 {
        text-align: center;
        font-size: 1.5rem;
        color: #333;
        margin: 1.5rem 0;
    }

    .job-title {
        color: #777;
        font-size: 1.0rem;
    }

    .card .about {
        padding: 0.3rem 1.8rem;
        background-color: #445AE3;
        border-radius: 2rem;
        margin: 1rem 0;
        text-transform: uppercase;
        color: #EEE;
        font-size: 0.8rem;
    }

    .our-team-content .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 200ms ease-in-out;
        border: 1px solid black;
        border-radius: 10px;
        z-index: 10;
        padding: 1em 1em;
        background-color: white;
        width: 90%;
        min-height: 75%;
        overflow-y: scroll;
    }

    .our-team-content .modal ol {
        margin-left: 1.8em;
    }

    .our-team-content .modal ul {
        margin-left: 1.8em;
    }

    .our-team-content .modal.active {
        transform: translate(-50%, -50%) scale(1);
    }

    .our-team-content .modal-header {
        padding: 0.2em 1.2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
    }

    .our-team-content .modal-title {
        font-size: 1.60rem;
        font-weight: bold;
    }

    .our-team-content .modal-body {
        position: absolute;
        padding: 0.8em 1.2em;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 460px) {
    body {
        overflow-x: hidden;
    }

    .line {
        width: 32px;
        height: 4px;
        background: white;
        margin: 8px;
    }

    nav {
        max-height: 10vh;
        position: fixed;
    }

    .hamburger {
        z-index: 5;
        position: fixed;
        cursor: pointer;
        right: 15%;
        top: 1%;
        transform: translate(-5%, 50%);
    }

    .nav-links {
        position: fixed;
        right: 0px;
        height: 100vh;
        width: 40%;
        padding: 8em 1em;
        background: rgba(0, 0, 0, 0.8);
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .nav-links li {
        opacity: 0;
    }


    .nav-logo img {
        padding: 0;
        margin-left: 2em;
        width: 25%;
    }

    .content .text {
        color: #FFF;
        position: absolute;
        background: rgba(0, 0, 0, 0.35);
        top: 30%;
        left: 0%;
        margin: 0em 0em;
        width: 100%;
    }

    .content h1 {
        padding-top: 0.6em;
        font-size: 1.8em;
        text-align: center;
        padding-bottom: 0.4em;
    }

    .content .ai {
        padding: 0.6em 1.5em;
        font-size: 1em;
    }

    .content .fc {
        padding: 0.6em 1.5em;
        font-size: 1em;
    }

    .content .ip {
        padding: 0.6em 1.5em;
        font-size: 1em;
    }

    .content .da {
        padding: 0.6em 1.5em;
        font-size: 1em;
    }

    .our-clientele img {
        position: relative;
        overflow-x: hidden;
        padding-left: 0;
        width: 100vw;
        left: -4%;
    }

    .about-us-content {
        padding: 7.0em 1em;
    }

    .about-us-content h2 {
        font-size: 1.5em;
        text-align: center;
    }

    .about-us-content p {
        font-size: 0.8em;
        padding: 1.0em 0.8em;
    }

    .our-usp ul {
        font-size: 0.8em;
    }

    .about-us-content .partners {
        display: inline;
        text-align: center;
        font-size: 1.5em;
        padding: 2em 0;
    }

    .about-us-content .partners .column {
        float: none;
        width: 70%;
    }

    .about-us-content .partners-logos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .about-us-content .partners .camfy {
        padding: 0 0;
    }

    .about-us-content .partners .eyeseal {
        margin-left: 0;
    }

    .our-team-content {
        padding: 5.0em 2em;
    }

    .our-team-content h2 {
        font-size: 1.5em;
        text-align: center;
        padding-bottom: 0.5em;
    }

    .our-team-content section {
        padding: 0.6rem;
        background-color: #FFF;
    }

    .our-team-content .profile-heads {
        padding: 1.8rem 0;
        background-color: #FFF;
    }

    .card-wrapper {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    .card {
        width: 100vw;
        height: 6.5rem;
        background-color: #EBEEF8;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem 0;
        box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.2);
    }

    .card .profile-img {
        width: 4rem;
        height: 4rem;
        border-radius: 20%;
        margin-top: -6rem;
        z-index: 3;
        border: 1px solid #EBEEF8;
    }

    .card h3 {
        text-align: center;
        font-size: 1.2rem;
        color: #333;
        margin: 0.6rem 0;
    }

    .job-title {
        color: #777;
        font-size: 0.9rem;
    }

    .card .about {
        padding: 0.3rem 1.5rem;
        background-color: #445AE3;
        border-radius: 2rem;
        margin: 0.3rem 0;
        text-transform: uppercase;
        color: #EEE;
        font-size: 0.6rem;
    }

    .our-team-content .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 200ms ease-in-out;
        border: 1px solid black;
        border-radius: 10px;
        z-index: 10;
        padding: 1em 1em;
        background-color: white;
        width: 90%;
        min-height: 75%;
        overflow-y: scroll;
    }

    .our-team-content .modal ol {
        margin-left: 1.8em;
    }

    .our-team-content .modal ul {
        margin-left: 1.8em;
    }

    .our-team-content .modal.active {
        transform: translate(-50%, -50%) scale(1);
    }

    .our-team-content .modal-header {
        padding: 0.2em 1.2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
    }

    .our-team-content .modal-title {
        font-size: 1.60rem;
        font-weight: bold;
    }

    .our-team-content .modal-body {
        position: absolute;
        padding: 0.8em 1.2em;
        font-size: 0.8rem;
    }

    .product-list {
        padding-top: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 4em;
        grid-row-gap: 4em;
    }
}

@keyframes navLinksFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
